# ========== DOCKER ИНФРАСТРУКТУРА ==========
## Имя пользователя (superuser) для инициализации контейнера PostgreSQL
DB_USER=
## Пароль пользователя (superuser) для инициализации контейнера PostgreSQL
DB_PASSWORD=
