name: Vercel Staging Deploy

env:
  VERCEL_ORG_ID: team_qWdYhTs1iH31Ndi9dYSUagYA
  VERCEL_PROJECT_ID: prj_dDFlv24Y1ALzMkOYwYfrzmCcqXOe

on:
  push:
    branches:
      - staging

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: apps/snapflow-core

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm test

  deploy-preview:
    name: Deploy to Vercel Preview
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build snapflow-core
        run: pnpm build:snapflow-core

      - name: Generate Prisma Client
        run: pnpm prisma:generate:prod:snapflow-core

      - name: Deploy to Vercel
        run: pnpm dlx vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

